@page
@using Microsoft.AspNetCore.Identity
@using EsseEhBom.Data

@model EsseEhBom.Pages.Movies.DetailsModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhe</h1>

<div>
    <h4>Filme</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Director)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Director)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Country)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Release)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Release)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Movie.Id">Editar</a> |
    <a asp-page="./Index">Voltar para lista</a>
</div>

<br />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container bootdey">
    <div class="col-md-12 bootstrap snippets">
        @if (SignInManager.IsSignedIn(User))
        {
            <form method="post">
                <div class="panel">
                    <div class="panel-body">
                        <textarea asp-for="Comment.Text" class="form-control" rows="2" placeholder="O que você achou do filme? Conte pra gente =)"></textarea>
                        <input type="hidden" asp-for="Comment.MovieId" value="@Model.Movie.Id" class="form-control" />
                        <input type="hidden" asp-for="Comment.UserName" value="@User.Identity.Name" class="form-control" />
                        <div class="mar-top clearfix">
                            <button class="btn btn-sm btn-primary pull-right" type="submit"><i class="fa fa-pencil fa-fw"></i> Share</button>
                        </div>
                    </div>
                </div>
            </form>
        }

        @foreach (var item in Model.Comments)
        {
            <div class="panel">
                <div class="panel-body">
                    <div class="media-block">
                        <div class="media-body">
                            <div class="mar-btm">
                                <a asp-area="" asp-page="/PersonalPage/Visit" asp-route-userName="@item.UserName" class="btn-link text-semibold media-heading box-inline">@Html.DisplayFor(modelItem => item.UserName)</a>
                            </div>
                            <p> @Html.DisplayFor(modelItem => item.Text)</p>
                            <div class="pad-ver">
                                <span class="tag tag-sm"><i class="fa fa-heart text-danger"></i> 250 Likes</span>
                                <div class="btn-group">
                                    <a class="btn btn-sm btn-default btn-hover-success" href="#"><i class="fa fa-thumbs-up"></i></a>
                                    <a class="btn btn-sm btn-default btn-hover-danger" href="#"><i class="fa fa-thumbs-down"></i></a>
                                </div>
                                <a class="btn btn-sm btn-default btn-hover-primary" href="#">Comment</a>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>