@page
@model EsseEhBom.Pages.Series.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhe</h1>

<div>
    <h4>Série</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Serie.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Serie.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Serie.Director)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Serie.Director)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Serie.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Serie.Country)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Serie.Release)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Serie.Release)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Serie.SeasonNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Serie.SeasonNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Serie.Id">Editar</a> |
    <a asp-page="./Index">Voltar para lista</a>
</div>
