@page
@model EsseEhBom.Pages.Books.IndexModel

@using Microsoft.AspNetCore.Identity
@using EsseEhBom.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Index";
}

<h1>Livros</h1>
@if (SignInManager.IsSignedIn(User))
{
<p><a asp-page="Create">Sugerir um novo livro no catálogo</a></p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].PublishingCompany)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].ReleaseRelease)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Book)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PublishingCompany)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseRelease)
                </td>
                <td>
                    <!--<a asp-page="./Edit" asp-route-id="@item.Id">Editar</a> | -->
                    <a asp-page="./Details" asp-route-id="@item.Id">Detalhes</a><!-- | -->
                    <!--<a asp-page="./Delete" asp-route-id="@item.Id">Deletar</a> -->
                </td>
            </tr>
        }
    </tbody>
</table>
